/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: rgb(var(--bs-tertiary-color-rgb));
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* Card Image Styling */
.card-img-left {
    width: 150px; /* Set a reasonable width */
    height: 150px; /* Maintains aspect ratio */
}

/* Styling for Smaller Devices */
@media (max-width: 576px) {
    .card-img-left {
        width: 100px;
        height: 100px;
    }
}


.extra-space {
  margin-bottom: 50px;
}